.fieldWrapper {
  display: block;
  position: relative;
  width:60%;
  min-width: 1000px;
}

.fieldWrapper label {
  display:block;
}
.fieldWrapper input {
  display: inline-block;
  width: 30%;
}

.fieldWrapper textarea {
  display: inline-block;
  width: 30%;
}

.codetests-input {
  margin-left: 20px;
}

.codetests-list {
  margin-left: 20px;
}
.fieldSubmit {
  margin-top: 10px;
  display: inline-block;
  width:100px;
}
.deleteButton {
  margin-top: 10px;
  display: inline-block;
  margin-left: 5px;
  width:100px;
}
.qnButton {
  margin-top: 10px;
  width: 205px;
  display: inline-block;
}

.fieldWrapper span {
  display:block;
}
#addQuestionBtn {
  margin-left:10px;
}
#chosenQuestionsBtn {
  margin-left:10px;
}
#chosenQuestions {
  margin-left:20px;
}

#chosenQuestions span{
  margin-left:5px;
}

#chosenQuestions button{
  margin:5px;
}

#chosenQuestions a{
  margin:5px;
}

#availableQuestions {
  margin-left:20px;
}

#availableQuestions span{
  margin-left:5px;
}

#availableQuestions button{
  margin:5px;
}

#availableQuestions a{
  margin:5px;
}



.addQnsH2 {
  margin-left:10px;
}
