{% extends "base.html" %}
{% block headext %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "codetests/css/codetests.css" %}">
<script type="text/javascript">
$(document).ready(function() {
    $("#id_datetimefield").datetimepicker({ format:'YYYY-mm-DD hh:ss' });
});
</script>
<style>
.initiallyHidden{display:none;}
</style> 
{% endblock %}
{% block content %}
<div>
<h2 class="form-signin-heading header">CodeJam Tests Dashboard</h2>
</div>
<h3>Configured Tests</h3>
<div class="codetests-list">
{% if tests %}
<table class="table table-striped">
<tr class="row">
<th>Test Name</th>
<th>Start Time</th>
<th>Actions</th>
</tr>
{% for a in tests %}
<tr class="row">
<td>{{a.testname}}</td>
<td>{{a.start}}</td>
<td><a class="btn btn-info" href="{base_url}/tests/edit?id={a.id}">Edit</a></td>
</tr>
{% endfor %}
</table>
{% else %}
<div>No Tests found</div>
{% endif %}
</div>
<h3>Add a New Test</h3>
<form action="tests/add" method="post">
{% csrf_token %}
<div class="codetests-input">
{{ form.non_field_errors }}
<div class="fieldWrapper">
    {{ form.testname.errors }}
    <label for="{{ form.testname.id_for_label }}">Test Name:</label>
    {{ form.testname }}
</div>
<br>
<div class="fieldWrapper">
    {{ form.datetimefield.errors }}
    <label for="{{ form.datetimefield.id_for_label }}">Date and Time of the test:</label>
    {{ form.datetimefield}}
</div>
<br>
<div class="fieldWrapper">
    {{ form.duration.errors }}
    <label for="{{ form.duration.id_for_label }}">Duration of the test (hours):</label>
    {{ form.duration }}
</div>
<input class="btn btn-info fieldSubmit" type="submit" value="Submit" />
</div>
</form>
{% endblock %}
