{% extends "base.html" %}
{% block headext %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "codetests/css/codetests.css" %}">
<style>
.initiallyHidden{display:none;}
</style> 
<script type="text/javascript">
function toggleAddQuestion() {
  $("#addQuestion").toggle();
}
function toggleChosenQuestions() {
  $("#chosenQuestions").toggle();
}
function addClicked(qnid) {
  $.ajax({url:"{{base_url}}/tests/linkqn/{{tid}}/",
          method:"post",
          data: {qn: qnid},
          success: function(data) {
            if (data.success == 0) {
              location.reload();
            } else {
              if (confirm("Something went wrong, click ok to reload the page")) {
                location.reload();
              }
            }
          }}); 
}
function removeClicked(qnid) {
  $.ajax({url:"{{base_url}}/tests/unlinkqn/{{tid}}/",
          method:"post",
          data: {qn: qnid},
          success: function(data) {
            if (data.success == 0) {
              location.reload();
            } else {
              if (confirm("Something went wrong, click ok to reload the page")) {
                location.reload();
              }
            }
          }}); 
}
function usesuploadedqns_clicked() {
  if (this.checked) {
    $(".directupload-div").fadeIn();
    $(".upload-qns-div").fadeOut();
  } else {
    $(".directupload-div").fadeOut();
    $(".upload-qns-div").fadeIn();
  }
}

function setup_usesuploadedqns() {
  if ($('#id_usesuploadedqns')[0].checked) {
    $(".directupload-div").show();
    $(".upload-qns-div").hide();
  } else {
    $(".directupload-div").hide();
    $(".upload-qns-div").show();
  }
}
function need2questions_clicked() {
  if (this.checked) {
    $(".largequestion-div").fadeIn();
  } else {
    $(".largequestion-div").fadeOut();
  }
}

function setup_need2questions() {
  if ($('#id_need2questions')[0].checked) {
    $(".largequestion-div").show();
  } else {
    $(".largequestion-div").hide();
  }
}
function needtranslator_clicked() {
  if (this.checked) {
    $("#translator-div").fadeIn();
  } else {
    $("#translator-div").fadeOut();
  }
}

function setup_needtranslator() {
  if ($('#id_needtranslator')[0].checked) {
    $("#translator-div").show();
  } else {
    $("#translator-div").hide();
  }
}


$(document).ready(function() {
setup_usesuploadedqns();
$('#id_usesuploadedqns').change(usesuploadedqns_clicked);
setup_need2questions();
$('#id_need2questions').change(need2questions_clicked);
setup_needtranslator();
$('#id_needtranslator').change(needtranslator_clicked);
});
</script>
{% endblock %}
{% block content %}
<div>
<h2 class="form-signin-heading header">CodeJam Tests Dashboard</h2>
<h2 class="addQnsH2"><b>Test:</b>{{thetest.testname}}</h2>
</div>
<h2 class="addQnsH2">Add A New Question</h2>
<button id="addQuestionBtn" class="btn btn-primary" onClick="return toggleAddQuestion()">Show/Hide New Question Form</button>
<div id="addQuestion" >
<form action="{{base_url}}/tests/addqns/{{tid}}/" enctype="multipart/form-data" method="post">
{% csrf_token %}
<div class="codetests-input">
{{ form.non_field_errors }}
<div class="fieldWrapper">
    {{ form.language.errors }}
    <label for="{{ form.language.id_for_label }}">{{form.language.label}}</label>
    {{ form.language }}
    <span><em>{{form.language.help_text}}</em></span>
</div>
<br>
<div class="fieldWrapper">
    {{ form.title.errors }}
    <label for="{{ form.title.id_for_label }}">{{form.title.label}}</label>
    {{ form.title }}
    <span><em>{{form.title.help_text}}</em></span>
</div>
<br>
<div class="fieldWrapper">
    {{ form.description.errors }}
    <label for="{{ form.description.id_for_label }}">{{form.description.label}}</label>
    {{ form.description }}
    <span><em>{{form.description.help_text}}</em></span>
</div>
<br>
<div class="fieldWrapper">
    {{ form.smalllimits.errors }}
    <label for="{{ form.smalllimits.id_for_label }}">{{form.smalllimits.label}}</label>
    {{ form.smalllimits }}
    <span><em>{{form.smalllimits.help_text}}</em></span>
</div>
<br>
<div class="fieldWrapper">
    {{ form.inputexample.errors }}
    <label for="{{ form.inputexample.id_for_label }}">{{form.inputexample.label}}</label>
    {{ form.inputexample }}
    <span><em>{{form.inputexample.help_text}}</em></span>
</div>
<br>
<div class="fieldWrapper">
    {{ form.outputexample.errors }}
    <label for="{{ form.outputexample.id_for_label }}">{{form.outputexample.label}}</label>
    {{ form.outputexample }}
    <span><em>{{form.outputexample.help_text}}</em></span>
</div>
<br>
<div class="fieldWrapper">
    {{ form.utimesmall.errors }}
    <label for="{{ form.utimesmall.id_for_label }}">{{form.utimesmall.label}}</label>
    {{ form.utimesmall }}
    <span><em>{{form.utimesmall.help_text}}</em></span>
</div>
<br>
<div class="fieldWrapper">
    {{ form.smallscore.errors }}
    <label for="{{ form.smallscore.id_for_label }}">{{form.smallscore.label}}</label>
    {{ form.smallscore }}
    <span><em>{{form.smallscore.help_text}}</em></span>
</div>
<br>
<div class="checkBoxWrapper">
    {{ form.usesuploadedqns.errors }}
    <label for="{{ form.usesuploadedqns.id_for_label }}">{{form.usesuploadedqns.label}}</label>
    {{ form.usesuploadedqns }}
    <span><em>{{form.usesuploadedqns.help_text}}</em></span>
</div>
<br>
<div class="directupload-div">
<div class="fieldWrapper">
    {{ form.directupload.errors }}
    <span>Number uploaded so far 0</span>
    <label for="{{ form.directupload.id_for_label }}">{{form.directupload.label}}</label>
    {{ form.directupload }}
    <span><em>{{form.directupload.help_text}}</em></span>
</div>
<br>
</div> <!-- ends directupload-div --!>
<div class="upload-qns-div">
<div class="fieldWrapper">
    {{ form.smallscript.errors }}
    <label for="{{ form.smallscript.id_for_label }}">{{form.smallscript.label}}</label>
    {{ form.smallscript }}
    <span><em>{{form.smallscript.help_text}}</em></span>
</div>
<br>
</div> <!-- ends upload-qns-div --!>
<div class="checkBoxWrapper">
    {{ form.need2questions.errors }}
    <label for="{{ form.need2questions.id_for_label }}">{{form.need2questions.label}}</label>
    {{ form.need2questions }}
    <span><em>{{form.need2questions.help_text}}</em></span>
</div>
<br>
<div class="largequestion-div">
<div class="fieldWrapper">
    {{ form.largelimits.errors }}
    <label for="{{ form.largelimits.id_for_label }}">{{form.largelimits.label}}</label>
    {{ form.largelimits }}
    <span><em>{{form.largelimits.help_text}}</em></span>
</div>
<br>
<div class="fieldWrapper">
    {{ form.utimelarge.errors }}
    <label for="{{ form.utimelarge.id_for_label }}">{{form.utimelarge.label}}</label>
    {{ form.utimelarge }}
    <span><em>{{form.utimelarge.help_text}}</em></span>
</div>
<br>
<div class="fieldWrapper">
    {{ form.largescore.errors }}
    <label for="{{ form.largescore.id_for_label }}">{{form.largescore.label}}</label>
    {{ form.largescore }}
    <span><em>{{form.largescore.help_text}}</em></span>
</div>
<div class="upload-qns-div">
<div class="fieldWrapper">
    {{ form.largescript.errors }}
    <label for="{{ form.largescript.id_for_label }}">{{form.largescript.label}}</label>
    {{ form.largescript }}
    <span><em>{{form.largescript.help_text}}</em></span>
</div>
<br>
</div> <!-- ends upload-qns-div --!>
</div> <!-- End of largequestion-div --!>
<br>
<div class="fieldWrapper">
    {{ form.difficulty.errors }}
    <label for="{{ form.difficulty.id_for_label }}">{{form.difficulty.label}}</label>
    {{ form.difficulty }}
    <span><em>{{form.difficulty.help_text}}</em></span>
</div>
<br>
<div class="checkBoxWrapper">
    {{ form.needdos2unix.errors }}
    <label for="{{ form.needdos2unix.id_for_label }}">{{form.needdos2unix.label}}</label>
    {{ form.needdos2unix }}
    <span><em>{{form.needdos2unix.help_text}}</em></span>
</div>
<br>
<div class="checkBoxWrapper">
    {{ form.needtranslator.errors }}
    <label for="{{ form.needtranslator.id_for_label }}">{{form.needtranslator.label}}</label>
    {{ form.needtranslator }}
    <span><em>{{form.needtranslator.help_text}}</em></span>
</div>
<div id="translator-div">
<div class="fieldWrapper">
    {{ form.translatorscript.errors }}
    <label for="{{ form.translatorscript.id_for_label }}">{{form.translatorscript.label}}</label>
    {{ form.translatorscript }}
    <span><em>{{form.translatorscript.help_text}}</em></span>
</div>
</div>
<br>

<br>

<input class="btn btn-success fieldSubmit" type="submit" value="Submit" />
</div>

</form>
</div>
<h2 class="addQnsH2">Choose From Existing Questions</h2>
<button id="chosenQuestionsBtn" class="btn btn-primary" onClick="return toggleChosenQuestions()">Show/Hide Chosen Questions</button>
<div id="chosenQuestions" >
<h3>Chosen Questions</h3>
{% if not qnlist %}
<span> No Questions Chosen Yet</span>
{% else %}
<table class="table table-striped">
<tr class="row">
<th>Question Number</th> <th>Title</th> <th>Difficulty</th> <th>Actions</th>
</tr>
{% for qn in qnlist %}
<tr class="row">
<td>{{qn.qn.id}}</td><td>{{qn.qn.title}}</td><td>{{qn.qn.difficulty}}</td>
<td><a class="btn btn-success" href="{{base_url}}/tests/editqn/{{qn.qn.id}}/">Edit</a>
    <button class="btn btn-danger" onClick="return removeClicked({{qn.qn.id}});">Remove</button>
</td>
</tr>
{% endfor %}
</table>
{% endif %}
</div>
<div id="availableQuestions">
<h3>Available Questions</h3>
{% if not notlist %}
<span> No Questions Available Yet (why dont you add one?)</span>
{% else %}
<table class="table table-striped">
<tr class="row">
<th>Question Number</th> <th>Title</th> <th>Difficulty</th> <th>Actions</th>
</tr>
{% for qn in notlist %}
<tr class="row">
<td>{{qn.id}}</td><td>{{qn.title}}</td><td>{{qn.difficulty}}</td>
<td><a class="btn btn-success" href="{{base_url}}/tests/editqn/{{qn.id}}/">Edit</a>
    <button class="btn btn-danger" onClick="return addClicked({{qn.id}});">Add to this test</button>
</td>
</tr>
{% endfor %}
</table>
{% endif %}
</div>


{% endblock %}
