.projectdata {
  vertical-align: top;
  width: 80%;
  background: white;
}

.project-container {
  width:100%;
  display: flex;
  text-align: top;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
}

.projectstatus {
  vertical-align: top;
  width:10%;
}
