{% extends "base.html" %}
{% block headext %}
{% load staticfiles %}
{% load coding_extras %}
<style>
.initiallyHidden{display:none;}
.project-title{width:80%;}
</style> 
<script type="text/javascript">
var saving=false;
var save_status = "Saved";
function confirmdelete() {
  if (saving) {
    alert("Cant delete while saving");
    return false;
  }
  return confirm("Are you sure you want to delete this member?");
}
function checkSaved() {
  if (save_status == "Saved") {
    return true;
  } else {
    alert("There are unsaved changes");
    return false;
  }
}

function renumber() {
  $('table tr').each(function(i,itm) {
    $(itm).children("td:first-child").text((i).toString());
  });
}
function onDel(target) {
  if (saving) {
    alert("Cant delete while saving");
    return false;
  }
  if (confirm("Are you sure you want to delete this lineitem?")) {
    $('#'+target).remove();
    renumber();
  }
  return false;
}

function onSave() {
  var obj = {};

  if (saving) {
    alert("A save is already in progress. Please wait");
    return false;
  }
  obj.lineitems=[];
  var valid = true;
  $(".projectdata").each(function(i,itm) {
    var subobj={};
    val = $(itm).attr("key");
    // milestone
    mid = $(itm).attr("mid");
    subobj.id = val; 
    subobj.mid = mid; 
    subobj.seq = $(itm).children("td:first-child").text();
    subobj.details = $(itm).find("input").first().val();
    if (subobj.details.length == 0) {
      alert("lineitems cannot be empty");
      valid = false;
      return false;
    }
    obj.lineitems.push(subobj);
  });   
  if (! valid) {
    return false;
  }
  saving = true;
  $.ajax({ method:"POST",
           url:"{{base_url}}/projects/milestones/update/{{batch.id}}/{{project.id}}/",
           data: JSON.stringify(obj),
           success: function(data) {
             if (data.status == 0)  {
               save_status = "Saved";
               window.location = "{{base_url}}/projects/milestones/add/{{batch.id}}/{{project.id}}/";
             } else {
               save_status = "Unsaved";
             }
           },
           error: function(data) {
             save_status = "Unsaved";
           },
           complete: function() {
             saving = false;
             console.log(save_status);
           }
  });
  return false;
} 

function onchange() {
  save_status="Unsaved";
  console.log(save_status);
}

var idxcount = 1;
function onAdd(m_id) {
  key="#table_"+m_id;
  if (saving) {
    alert("A save is in progress. Please wait");
    return false;
  }
  // this assumes there is only one table on this page
  t = $(key);
  var rowCount = $(key+' tr').length;
  t.append('<tr mid="'+m_id+'"key="-1" id="proj_'+idxcount+'" class="projectdata row">'+'<td>'+rowCount+'</td><td><input class="project-title" type="text" placeholder="Add details"/></td><td><a class="btn btn-danger" onClick="return onDel(\'proj_'+idxcount+'\');">Delete</a></td></tr>');
  $("#proj_"+idxcount).keypress(onchange);
  idxcount++;
  save_status = "Unsaved";
  return false;
}

$.ready(function() {
$(".projectdata input").keypress(onchange);
});
</script>
{% endblock %}
{% block content %}
<div>
<h2 class="form-signin-heading header">CodeJam Projects Milestones</h2>
</div>
<h3>Batch: {{batch.batchname}}</h3>
<h3>Project: {{project.title}}</h3>
<div class="batch-list">
{% for m,l in ls %}
<h3><b>Milestones for Readout {{forloop.counter}}</b></h3>
<em>Approx Date: {{m.date}}</em>
<table id="table_{{m.id}}" class="table table-striped">
<tr class="row">
<th>S.No</th><th>Details</th><th>Actions</th>
{%if batch.inputopen and role != "NCH" %}
<th><a class="btn btn-info" onClick="return onAdd('{{m.id}}');">Add Line</a> <a class="btn btn-success" onClick="return onSave();">Save</a></th>
{% else %}
<th></th>
{% endif %}
</tr>
{% for line in l %}
<tr mid="{{m.id}}" key="{{line.id}}" class="row projectdata">
<td>{{forloop.counter}}</td>
{% if batch.inputopen and role != "NCH" %}
<td><input class="project-title" type="text" value="{{line.details}}" placeholder="Add details"/></td>
<td><a class="btn btn-danger" onClick="return checkSaved();" href="{{base_url}}/projects/milestones/del/{{batch.id}}/{{project.id}}/{{line.id}}/">Delete</a></td>
{% else %}
<td>{{line.details}}</td><td></td>
{% endif %}
</tr>
{% endfor %}
</table>
{% endfor %}
</div>
{% endblock %}
