{% extends "base.html" %}
{% block headext %}
{% load staticfiles %}
{% load coding_extras %}
<style>
.initiallyHidden{display:none;}
.project-title{width:80%;}
</style> 
<script type="text/javascript">
var saving=false;
var save_status = "Saved";
function confirmdelete() {
  if (saving) {
    alert("Cant delete while saving");
    return false;
  }
  return confirm("Are you sure you want to delete this project?");
}
function checkSaved() {
  if (save_status == "Saved") {
    return true;
  } else {
    alert("There are unsaved changes");
    return false;
  }
}

function renumber() {
  $('table tr').each(function(i,itm) {
    $(itm).children("td:first-child").text((i).toString());
  });
}
function onDel(target) {
  if (saving) {
    alert("Cant delete while saving");
    return false;
  }
  if (confirm("Are you sure you want to delete this project?")) {
    $('#'+target).remove();
    renumber();
  }
  return false;
}

function onSave() {
  var obj = {};

  if (saving) {
    alert("A save is already in progress. Please wait");
    return false;
  }
  obj.projects=[];
  var valid = true;
  $(".projectdata").each(function(i,itm) {
    var subobj={};
    val = $(itm).attr("key");
    subobj.id = val; 
    subobj.seq = $(itm).children("td:first-child").text();
    subobj.val = $(itm).find("input").first().val();
    if (subobj.val.length == 0) {
      alert("Project names cannot be empty");
      valid = false;
      return false;
    }
    obj.projects.push(subobj);
  });   
  if (! valid) {
    return false;
  }
  saving = true;
  $.ajax({ method:"POST",
           url:"{{base_url}}/projects/update/{{batch.id}}/",
           data: JSON.stringify(obj),
           success: function(data) {
             if (data.status == 0)  {
               save_status = "Saved";
               window.location = "{{base_url}}/projects/add/{{batch.id}}/";
             } else {
               save_status = "Unsaved";
             }
           },
           error: function(data) {
             save_status = "Unsaved";
           },
           complete: function() {
             saving = false;
             console.log(save_status);
           }
  });
  return false;
} 

function onchange() {
  save_status="Unsaved";
  console.log(save_status);
}

var idxcount = {{projects|length}}+1;
function onAddProject() {
  if (saving) {
    alert("A save is in progress. Please wait");
    return false;
  }
  // this assumes there is only one table on this page
  t = $("table");
  var rowCount = $('table tr').length;
  t.append('<tr key="-1" id="proj_'+idxcount+'" class="projectdata row">'+'<td>'+rowCount+'</td><td><input class="project-title" type="text" placeholder="Add Description"/></td><td><a class="btn btn-danger" onClick="return onDel(\'proj_'+idxcount+'\');">Delete</a></td></tr>');
  $("#proj_"+idxcount).keypress(onchange);
  idxcount++;
  save_status = "Unsaved";
  return false;
}

$.ready(function() {
$(".projectdata input").keypress(onchange);
});
</script>
{% endblock %}
{% block content %}
<div>
<h2 class="form-signin-heading header">CodeJam Projects Batches</h2>
</div>
<h3>Batch: {{batch.batchname}}</h3>
<div class="batch-list">
<table class="table table-striped">
<tr class="row">
<th>S.No</th>
<th>Project Description</th>
<th>Actions</th>
<th><a class="btn btn-success" onClick="return onSave();">Save</a> <a class="btn btn-info" onClick="return onAddProject();">Add Project</a></th>
</tr>
{% for a in projects %}
<tr key="{{a.id}}" class="row projectdata">
<td>{{forloop.counter}}</td>
<td><input class="project-title" type="text" value="{{a.title}}" placeholder="Add Description"/></td>
<td><a class="btn btn-danger" onClick="return checkSaved();" href="{{base_url}}/projects/del/{{a.id}}/">Delete</a></td>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}
