{% extends "base.html" %}
{% block headext %}
{% load staticfiles %}
{% load coding_extras %}
<style>
.initiallyHidden{display:none;}
.project-title{width:80%;}
#saved_comment{
color: red;
}
</style> 
<script type="text/javascript">
var saving=false;
var save_status = "Saved";
function confirmdelete() {
  if (saving) {
    alert("Cant delete while saving");
    return false;
  }
  return confirm("Are you sure you want to delete this member?");
}
function checkSaved() {
  if (save_status == "Saved") {
    return true;
  } else {
    alert("There are unsaved changes");
    return false;
  }
}

function renumber() {
  $('table tr').each(function(i,itm) {
    $(itm).children("td:first-child").text((i).toString());
  });
}
function onDel(target) {
  if (saving) {
    alert("Cant delete while saving");
    return false;
  }
  if (confirm("Are you sure you want to delete this qn?")) {
    $('#'+target).remove();
    renumber();
  }
  return false;
}

function onSave() {
  var obj = {};

  if (saving) {
    alert("A save is already in progress. Please wait");
    return false;
  }
  obj.lineitems=[];
  var valid = true;
  $(".projectdata").each(function(i,itm) {
    var subobj={};
    val = $(itm).attr("key");
    // milestone
    subobj.id = val; 
    subobj.seq = $(itm).children("td:first-child").text();
    subobj.qn = $(itm).find(".project-title").val();
    subobj.subqn = $(itm).find(".project-subqn").val();
    if (subobj.qn.length == 0) {
      alert("lineitems cannot be empty");
      valid = false;
      return false;
    }
    subobj.type = $(itm).find("select").val();
    obj.lineitems.push(subobj);
  });   
  if (! valid) {
    return false;
  }
  saving = true;
  save_status="Saving";
  $("#saved_comment").html("<em>["+save_status+"]</em>");
  $.ajax({ method:"POST",
           url:"{{base_url}}/projects/scorecard/questions/update/{{batch.id}}/",
           data: JSON.stringify(obj),
           success: function(data) {
             if (data.status == 0)  {
               save_status = "Saved";
               window.location = "{{base_url}}/projects/scorecard/create/{{batch.id}}/";
             } else {
               save_status = "Unsaved";
             }
           },
           error: function(data) {
             save_status = "Unsaved";
           },
           complete: function() {
             saving = false;
             console.log(save_status);
             $("#saved_comment").html("<em>["+save_status+"]</em>");
           }
  });
  return false;
} 

function onchange() {
  save_status="Unsaved";
  $("#saved_comment").html("<em>["+save_status+"]</em>");
  console.log(save_status);
}

var idxcount = 1;
function onAdd() {
  key="#qn_table";
  if (saving) {
    alert("A save is in progress. Please wait");
    return false;
  }
  // this assumes there is only one table on this page
  t = $(key);
  var rowCount = $(key+' tr').length;
  t.append('<tr key="-1" id="proj_'+idxcount+'" class="projectdata row">'+'<td>'+rowCount+'</td><td><input class="project-title" type="text" placeholder="Question"/><br><input class="project-subqn" type="text" placeholder="Sub-question (if reqd)"/></td>'+
'<td><select class="statusdropdown"> <option selected  value="yesno">Yes/No</option><option value="range">Range(0-5)</option><option selected value="rangecomment">Range With Comment</option></select></td><td><a class="btn btn-danger" onClick="return onDel(\'proj_'+idxcount+'\');">Delete</a></td></tr>');
  $("#proj_"+idxcount).keypress(onchange);
  idxcount++;
  save_status = "Unsaved";
  $("#saved_comment").html("<em>["+save_status+"]</em>");
  return false;
}

$(document).ready(function() {
$(".projectdata input").keypress(onchange);
$("#saved_comment").html("<em>["+save_status+"]</em>");
$(".statusdropdown").change(onchange);
console.log(save_status);
});
</script>
{% endblock %}
{% block content %}
<div>
<h2 class="form-signin-heading header">CodeJam Projects Milestones</h2>
</div>
<h3>Batch: {{batch.batchname}}</h3>
<h3>Project: {{project.title}}</h3>
<div id="saved_comment"></div>
<div class="batch-list">
<h3><b>Questions for Readout</b></h3>
<table id="qn_table" class="table table-striped">
<tr class="row">
<th>S.No</th><th>Question</th><th>Type</th><th>Actions</th>
<th><a class="btn btn-info" onClick="return onAdd();">Add Line</a> <a class="btn btn-success" onClick="return onSave();">Save</a></th>
</tr>
{% for qn in scs %}
<tr key="{{qn.qn.id}}" class="row projectdata">
<td>{{forloop.counter}}</td>
<td><input class="project-title" type="text" value="{{qn.qn.qn}}" placeholder="Add details"/><br><input class="project-subqn" type="text" value="{{qn.qn.subqn}}" placeholder="Sub-question (if reqd)"/></td>
<td><select class="statusdropdown"> 
<option {% if qn.qn.type == "yesno" %} selected {% endif %}  value="yesno">Yes/No</option>
<option {% if qn.qn.type == "range" %} selected {% endif %} value="range">Range(0-5)</option>
<option {% if qn.qn.type == "rangecomment" %} selected {% endif %} value="rangecomment">Range With Comment</option>
</select></td>
<td><a class="btn btn-danger" onClick="return checkSaved();" href="{{base_url}}/projects/scorecard/questions/delete/{{qn.qn.id}}/">Delete</a></td>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}
