{% extends "base.html" %}
{% block headext %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "dashboard/css/dashboard.css" %}">
<script type="text/javascript">
var urlmap = { 
{% for a in btns %}
 "{{a.name}}": "{{a.url}}",
{% endfor %}
"none": '{{base_url}}'};
console.log(urlmap);
function action_clicked(event) {
  url = urlmap[$(event).text()];
  console.log("URL:"+url);
  window.location=url; 
}

$(document).ready(function() {
});
</script>
<style>
.initiallyHidden{display:none;}
</style> 
{% endblock %}
{% block content %}
<div>
<h2 class="form-signin-heading header">CodeJam Dashboard</h2>
</div>
<div class="dashboard-details">
<span><h3>Username: <em>{{ username }}</em></h3></span>
</div>
<div class="dashboard-actions">
<h3>Actions</h3>
{% for a in btns %}
  <div class="dashboard-spacing"></div>
  <div class="dashboard-btn" onclick="action_clicked(this)">{{ a.name }}</div>
{% endfor %}
</div>
{% endblock %}
