{% extends "base.html" %}
{% block headext %}
{% load staticfiles %}
{% load coding_extras %}
<script type="text/javascript">
function tick() {
 $.ajax({url:"{{base_url}}/go/timeremaining/{{attempt.testid.id}}/",
         success:function(data) {
           if (data.status == 0) {
             $("#timeremaining").html(data.time);
           }
           setTimeout(tick, 30000);
         },
         error:function(data) {
           setTimeout(tick, 30000);
         }});
}

$(document).ready(function() {
  tick();
});
</script>
<style>
.initiallyHidden{display:none;}
.unattempted{background-color:orange;}
.pass{background-color:green;}
.fail{background-color:maroon;}
.btn {margin-top: 5px;
     }
</style> 
{% endblock %}
{% block content %}
<div>
<h2 class="form-signin-heading header">CodeJam Test Page:{{attempt.testid.testname}}</h2>
<a href="{{return}}">Back to Questions</a>
</div>
<span>Time Remaining:</span><span id="timeremaining">Loading...</span>
<div>
<h3>Question: {{qn.title}}</h3>
<span>Small Set Status: </span><span class="{{anslist|getsmallstatus:qn.id}}">{{anslist|getsmallstatus:qn.id}}</span><br>
<span>Large Set Status: </span><span class="{{anslist|getlargestatus:qn.id}}">{{anslist|getlargestatus:qn.id}}</span>
<h2>Description</h2>
<pre>{{qn.description}}</pre>
<h2>Limits (small set)</h2>
<pre>{{qn.smalllimits}}</pre>
<h2>Limits (large set)</h2>
<pre>{{qn.largelimits}}</pre>
<h2>Sample Input</h2>
<pre>{{qn.inputexample}}</pre>
<h2>Sample Output</h2>
<pre>{{qn.outputexample}}</pre>
<h2>Time Limits for Uploading solutions</h2>
<span>Small Set:{{qn.utimesmall}} minutes</span><br>
<span>Large Set:{{qn.utimelarge}} minutes</span><br>
<a class="btn btn-danger" href="{{base_url}}/go/uploadsolution/{{attempt.id}}/{{qn.id}}/small/">Attempt Small Solution Set</a><br>
<a class="btn btn-danger" href="{{base_url}}/go/uploadsolution/{{attempt.id}}/{{qn.id}}/large/">Attempt Large Solution Set</a>
</div>
{% endblock %}
