{% extends "base.html" %}
{% block headext %}
{% load staticfiles %}
{% load coding_extras %}
<script type="text/javascript">
var attemptver = {{ans.testattempt.version}};
function tick() {
 $.ajax({url:"{{base_url}}/go/uploadtime/{{ans.id}}/",
         success:function(data) {
           if (data.status == 0) {
             if (attemptver == -1) {
               attemptver = parseInt(data.version);
             } else if (attemptver != parseInt(data.version)) {
               location.reload(true);
             }
             $("#timeremaining").html(data.time);
             $("#attemptnum").html(data.attemptnum);
           } else if (data.status == 2) {
             window.location.assign("{{base_url}}/go/question/{{ans.testattempt.id}}/{{ans.qn.id}}/{{ans.qtype}}/")
           }
           setTimeout(tick, 5000);
         },
         error:function(data) {
           setTimeout(tick, 5000);
         }});
}

$(document).ready(function() {
  tick();
});
</script>
{% endblock %}
{% block content %}
<div>
<h2 class="form-signin-heading header">CodeJam Upload Page: {{ans.qn.title}}</h2>
<a href="{{return}}">Back to Question</a>
</div>
<h2 class="language-h2" >Language: {{ans.qn.language|getFtype}}</h2>
<h2>{{ans.qtype|title}} Problem Set</h2>
<span>{{ans.qtype|title}} Set Status: </span><span class="{{ans.result}}">{{ans.result}}</span><br>
</div>
<span>Attempts So far:</span><span id="attemptnum">{{ans.attempt}}</span><br>
<span>Time Remaining To Upload Solution:</span><span id="timeremaining">(will start when you download question set)</span><br>
<span>(Right click and save the link below)</span><br>
<a class="btn" href="{{base_url}}/go/downloadqn/{{ans.id}}/{{ans.qtype}}/">Download Question Set</a>
<form action="{{base_url}}/go/uploadfile/{{ans.id}}/" method="post" enctype="multipart/form-data">
{% csrf_token %}
<table>
{{form.as_table}}
</table>
<input type="submit" value="Submit"></input>
</form>
<div>
{% endblock %}
